@media only screen and (min-width:1200px){
    .box{
        width: 800px;
        margin: auto;
        border: 1px inset blue;
        border-radius: 2px;
        padding: 20px;
    }
    
    .answer{
        border: 1px inset black;
        border-radius: 2px;
        margin-bottom: 20px;
        padding: 20px;
    }
    
    .answer label,p{
        direction: ltr;
        display: block;
    }
    
    .answer label{
    
    }
    
    .answer p{
        background-color: rgb(196, 228, 230);
        border-radius: 2px;
        padding: 10px;
    }
    
    .point{
        direction: ltr;
        width: 30px;
        border: none;
        border-radius: 2px;
        background-color: rgb(235, 195, 168);
        padding: 5px;
        text-align: center;
    }
    
    .box img{
        max-width: 700px;
        overflow: scroll;
        display: block;
        margin: auto;
    }
    
    .image{
        border: 1px inset black;
        padding: 10px;
        margin-bottom: 20px;
        text-align: center;
    }
    
    form{
        border-top: 1px inset black;
        margin-top: 50px;
        text-align: center;
    }
    
    form button{
        margin: auto;
        display: block;
        padding: 5px 25px 5px 25px;
        border-radius: 2px;
        background-color: rgb(175, 220, 175);
        border: none;
    }
}

@media only screen and (max-width:600px){
    .box{
        width: 320px;
        margin: auto;
        border: 1px inset blue;
        border-radius: 2px;
        padding: 5px;
    }
    
    .answer{
        border: 1px inset black;
        border-radius: 2px;
        margin-bottom: 5px;
        padding: 5px;
    }
    
    .answer label,p{
        direction: ltr;
        display: block;
    }
    
    .answer p{
        background-color: rgb(196, 228, 230);
        border-radius: 2px;
        padding: 5px;
    }
    
    .point{
        direction: ltr;
        width: 15px;
        border: none;
        border-radius: 2px;
        background-color: rgb(235, 195, 168);
        padding: 5px;
        text-align: center;
    }
    
    .box img{
        max-width: 280px;
        overflow: scroll;
        display: block;
        margin: auto;
    }
    
    .image{
        border: 1px inset black;
        padding: 5px;
        margin-bottom: 5px;
        text-align: center;
    }
    
    form{
        border-top: 1px inset black;
        margin-top: 20px;
        text-align: center;
    }
    
    form button{
        margin: auto;
        display: block;
        padding: 5px 10px 5px 10px;
        border-radius: 2px;
        background-color: rgb(175, 220, 175);
        border: none;
    }
}