<%- include('../includes/head.ejs') %> 
    </head>
    <body>
    <%- include('../includes/nav.ejs') %>
        <div class="center">
            <div class="HomePage">
                <p>برای استفاده از امکانات سایت ابتدا وارد شوید.</p>
                <a class="login" href="/login">ورود</a>
            </div>
        </div>
<%- include('../includes/footer.ejs') %> 